<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>

    <link rel="stylesheet" href="/home.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container">
        <div class="screen">
            <!-- *********************Navigation Bar********************** -->
            <div class="navigationbar">
                <!-- ************logo******************** -->
                <div class="logo">
                    <i class="fa-brands fa-twitter fa-3x"></i>
                </div>



                <!-- ************navigation******************** -->

                <div class="navigation">

                    <div class="navrow home">
                        <i class="fa-solid fa-house fa-2x"></i>
                        <span>Home</span>
                    </div>

                    <div class="navrow explore">
                        <i class="fa-solid fa-hashtag fa-2x"></i>
                        <span>Explore</span>
                    </div>

                    <div class="navrow notifications">
                        <i class="fa-regular fa-bell fa-2x"></i>
                        <span>Notifications</span>
                    </div>

                    <div class="navrow messages">
                        <i class="fa-regular fa-envelope fa-2x"></i>
                        <span>Messages</span>
                    </div>

                    <div class="navrow profile" onclick="profile()">
                        <i class="fa-regular fa-user fa-2x"></i>
                        <span>Profile</span>
                    </div>

                    <!-- 
                    <div class="navrow">
                        <a href="" class="tweetbtn">
                            <p>Tweet</p>
                        </a>
                    </div> -->

                </div>



                <!-- ************profile******************** -->

                <div class="profile">
                    <%if(selectData[0].length !=0) {%>
                        <div class="profileimg">
                            <img src="<%=selectData[0].profile_pic%>" alt="">
                        </div>
                        <%}%>
                            <div class="profileinfo">
                                <div class="name">
                                    <span>
                                        <%=selectData[0].username%>
                                    </span>
                                </div>
                                <div class="username">
                                    <span>
                                        <%=selectData[0].email%>
                                    </span>
                                </div>
                            </div>
                            <div class="more">
                                <img src="/images/more.png" alt="">
                            </div>
                </div>
            </div>

            <!-- *********************Content Section********************** -->
            <div class="contentsection">
                <h1>Home</h1>

                <form action="/tweet" method="post" enctype="multipart/form-data">
                    <div class="tweetform">
                        <img src="<%=selectData[0].profile_pic%>" alt="">
                        <input type="text" name="tweet_text" id="tweetformcontent" placeholder="What's Happening?">
                    </div>
                    <div class="tweetsubmit">
                        <label for="file_input">
                            <!-- <img src="" alt="" srcset=""> -->
                            <i class="fa-regular fa-image "></i>
                        </label>
                        <input type="file" id="file_input" name="media">
                        <!-- <i class="fa-regular fa-image "><input type="file" name="file"></i> -->
                        <input type="submit" value="Tweet" class="tweet">
                    </div>
                </form>

                <div class="tweet-main">
                    <!-- post starts -->
                    <%if(tweets.length !=0){%>
                        <%for(let i=0; i<tweets.length; i++){%>
                            <div class="tweets">
                                <div class="post">
                                    <div class="post__avatar">
                                        <img src="<%=tweets[i].profile_pic%>" alt="img" class="post__avatar" />
                                    </div>
                                    <div class="post__body">
                                        <div class="post__header">
                                            <div class="post__headerText">
                                                <h3>

                                                    <%=tweets[i].username%>
                                                        <span class="post__headerSpecial"><span
                                                                class="material-icons post__badge">
                                                                <!-- </span>@<%=selectData[0].email%></span> -->
                                                </h3>
                                            </div>
                                            <div class="post__headerDescription">
                                                <p>
                                                    <%=tweets[i].tweet_text%>
                                                </p>
                                            </div>
                                        </div>

                                        <%if(tweets[i].media){%>
                                            <img src="<%=tweets[i].media%>" alt="img" class="tweetImg" />
                                            <%}%>
                                                <div class="post-footer">
                                                    <div class="btn-container">
                                                        <div class="twt-toggle"><i class="fa-regular fa-comment"></i>
                                                            comments</div>
                                                            <%for (let j=0;j<tweets.length;j++){%>
                                                                
                                                                <%for (let k=0;k<likes.length;k++){%>
                                                                    <%console.log("tweet id",tweets[j].id,"likes pid",likes[k].pid)%>
                                                                    <%console.log("tweet uid",tokenData.id,"likes uid",likes[k].uid)%>

                                                                <%if(tweets[j].id==likes[k].pid && tokenData.id==likes[k].uid && likes[k].liked ==1){%>
                                                                    <%console.log("user liked:   ",tweets[j].id,likes[k].uid)%>
                                                                    <%flag[j]=1%>
                                                                    
                                                                <%}%>
                                                                <%if(tweets[j].id==likes[k].pid && tokenData.id==likes[k].uid && likes[k].liked ==0){%>
                                                                    <%console.log("user disliked:   ",tweets[j].id,likes[k].uid)%>
                                                                    <%flag[j]=0%>
                                                                   
                                                                <%}%>                                                              

                                                            <%}%>
                                                            <%}%>
                                                            <%if(flag[i]==1){%>
                                                                <%console.log("::::::::::::flag:::::::::::::::::::",flag)%>
                                                            <div class="twt-toggle-like-blue"><i class="fa-solid fa-heart"
                                                                id="twt-tg<%=tweets[i].id%>"
                                                                onclick="like('<%=tweets[i].id%>','<%=tweets[i].user_id%>')"
                                                                onload="changecolor('<%=tweets[i].id%>')"></i>
                                                            <span id="twt<%=tweets[i].id%>">
                                                                <%=tweets[i].likes%>
                                                            </span>

                                                            </div>
                                                           
                                                            <%}else if(flag[i]==0){%>
                                                                <%console.log("::::::::::::flag:::::::::::::::::::",flag)%>
                                                            <div class="twt-toggle-like-black"><i class="fa-solid fa-heart"
                                                                id="twt-tg<%=tweets[i].id%>"
                                                                onclick="like('<%=tweets[i].id%>','<%=tweets[i].user_id%>')"
                                                                ></i>
                                                            <span id="twt<%=tweets[i].id%>">
                                                                <%=tweets[i].likes%>
                                                            </span>

                                                            </div>
                                                           
                                                            <%}else{%>
                                                                <%console.log("::::::::::::flag:::::::::::::::::::",flag)%>
                                                            <div class="twt-toggle-like-black"><i class="fa-solid fa-heart"
                                                                id="twt-tg<%=tweets[i].id%>"
                                                                onclick="like('<%=tweets[i].id%>','<%=tweets[i].user_id%>')"
                                                                ></i>
                                                            <span id="twt<%=tweets[i].id%>">
                                                                <%=tweets[i].likes%>
                                                            </span>

                                                            </div>
                                                            <%}%>


                                                        <div class="twt-toggle"><i class="fa-solid fa-retweet"></i>
                                                            retweet</div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <%}%>
                                    <!-- post ends -->
                </div>

            </div>
            <!-- ********************Search and Suggestion Section************ -->
            <div class="searchsection">

                <div class="searchbar">
                    <span>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input type="text" name="search" id="search" placeholder="Search Here" onkeydown="search()">
                </div>

                <div id="searchresult">
                </div>
                <div id="searchprofilebar">
                    <h2>You might like</h2>
                    <%for(i=0;i<user_data.length;i++){%>
                        <div class="searchprofile">
                            <div class="profileimg">
                                <img src="<%=user_data[i].profile_pic%>" alt="">
                            </div>
                            <div class="profileinfo">
                                <div class="name">
                                    <span>
                                        <%=user_data[i].username%>
                                    </span>
                                </div>
                                <div class="username">
                                    <span>
                                        <%=user_data[i].email%>
                                    </span>
                                </div>
                            </div>
                            <div class="followbtn">
                                <p>Follow</p>
                            </div>
                        </div>

                        <%}%>
                </div>

            </div>
        </div>
    </div>
    <script>
        function changecolor(i) {
            if (i == 0) {
                document.getElementById('twt-tg' + pid).style.color = "black";
                console.log("black")
                return true;
            }
            else {
                document.getElementById('twt-tg' + pid).style.color = "#1DA1F2";
                console.log('blue')
            }
        }
        function profile() {
            location.assign(`/profile`);
        }

        async function search() {
            var search = document.getElementById('search').value;
            var s = "";

            await fetch(`http://localhost:3000/search?search=${search}`)
                .then(res => res.json())
                .then((search_data) => {
                    // console.log(':::::::::::::::::::::::::::data at',search_data)
                    for (i = 0; i < search_data.length; i++) {
                        console.log("at", i, '', search_data[i].id)
                        s += `
                        <div class="searchprofile" onclick="search_profile('${search_data[i].id}')">
                            <div class="profileimg">
                                <img src="`+ search_data[i].profile_pic + `" alt="">
                            </div>
                            <div class="profileinfo">
                                <div class="name">
                                    <span>`+
                            search_data[i].username +
                            `</span>
                                </div>
                                <div class="username">
                                    <span>`+
                            search_data[i].email +
                            `</span>
                                </div>
                            </div>
                           
                        </div> `;

                    }
                    document.getElementById('searchresult').innerHTML = s;

                })
        }

        function like(pid, uid) {
            console.log('pid', pid)
            console.log('uid', uid)

            fetch("/like", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ pid, uid }),
            }).then((res) => {
                return res.json()
            }).then((result) => {
                console.log(result[0])
                console.log(result[0].likes)

                if (!result[1]) {
                    if (result[0].likes == 0) {
                        document.getElementById('twt-tg' + pid).style.color = "black";
                    }
                    else {
                        document.getElementById('twt-tg' + pid).style.color = "#1DA1F2";
                    }
                    document.getElementById('twt' + pid).innerHTML = result[0].likes;
                }
                else {
                    if (result[1].likes == 0) {
                        document.getElementById('twt-tg' + pid).style.color = "black";
                    }
                    else {
                        document.getElementById('twt-tg' + pid).style.color = "#1DA1F2";
                    }
                    document.getElementById('twt' + pid).innerHTML = result[0].likes;
                }

            })

        }
        function search_profile(sid) {
            var sid = sid;
            location.assign(`http://localhost:3000/search_profile?sid='${sid}'`);
        }




    </script>

</body>

</html>