<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>

    <link rel="stylesheet" href="/home.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Emoji Picker Script -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
</head>

<body>

    <div class="container" id="main">
        <div class="screen">
            <!-- *********************Navigation Bar********************** -->
            <div class="navigationbar">
                <!-- ************logo******************** -->
                <div class="logo">
                    <i class="fa-brands fa-twitter fa-3x"></i>
                </div>



                <!-- ************navigation******************** -->

                <div class="navigation">

                    <div class="navrow home" onclick="home()">
                        <i class="fa-solid fa-house fa-2x"></i>
                        <span>Home</span>
                    </div>

                    <div class="navrow profile2" onclick="profile()">
                        <i class="fa-regular fa-user fa-2x"></i>
                        <span>Profile</span>
                    </div>

                    <div class="navrow explore" onclick="more()">
                        <i class="fa-solid fa-hashtag fa-2x"></i>
                        <span>More</span>
                    </div>

                    <div class="more_options" id="more_options" style="display: none;">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span><a href="/logout">Logout</a></span>
                    </div>

                    <!-- <div class="navrow">
                        <a href="" class="tweetbtn">
                            <p>Tweet</p>
                        </a>
                    </div> -->

                </div>


                <!-- ************profile******************** -->

                <div class="profile">
                    <%if(selectData[0].length !=0) {%>
                        <div class="profileimg">
                            <img src="<%=selectData[0].profile_pic%>" alt="">
                        </div>
                        <%}%>
                            <div class="profileinfo">
                                <div class="name" onclick="profile()">
                                    <span>
                                        <%=selectData[0].username%>
                                    </span>
                                </div>
                                <div class="username" onclick="profile()">
                                    <span>
                                        <%=selectData[0].email%>
                                    </span>
                                </div>
                            </div>
                </div>
            </div>

            <!-- *********************Content Section********************** -->
            <div class="contentsection" id="content">
                <h1>Home</h1>

                <form action="/tweet" method="post" enctype="multipart/form-data" onsubmit="return tweet()">
                    <div class="tweetform">
                        <img src="<%=selectData[0].profile_pic%>" alt="">
                        <input type="text" name="tweet_text" id="tweetformcontent" placeholder="What's Happening?">
                    </div>
                    <p id="tweeterror"></p>
                    <img id="preview">
                    <div class="tweetsubmit">


                        <div class="icgg">
                            <label for="file_input">
                                <i class="fa-regular fa-image "></i>
                            </label>
                            <input type="file" id="file_input" name="media" onchange="previewImage(event),tweet()">

                    
                        </div>

                        <div class="emojiicon" onclick="abc()">
                            <i class="fa-regular fa-face-smile"></i>

                            <emoji-picker></emoji-picker>
                        </div>

                        <!-- <i class="fa-regular fa-image "><input type="file" name="file"></i> -->
                        <input type="submit" value="Tweet" class="tweet" id="tweetsubmit1">
                    </div>
                </form>

                <div class="tweet-main">
                    <!-- post starts -->
                    <%if(tweets.length !=0){%>

                        <%for(let i=0; i<tweets.length; i++){%>

                            <!-- retweet found -->

                            <%if(new_user_profile_pic[i]){%>

                                <div class="retweeted">

                                    <div class="repost__avatar">
                                        <img src="<%=new_user_profile_pic[i]%>" alt="img" class="repost__avatar1" />
                                        <div class="repost__header">
                                            <div class="repost__headerText">
                                                <h3>
                                                    <%=new_user_name[i]%>

                                                </h3>
                                            </div>
                                        </div>



                                    </div>
                                    <!-- if content found -->
                                    <%if(tweets[i].retweet_text){%>

                                        <div class="repost__headerDescription">
                                            <p>
                                                <%=tweets[i].retweet_text%>
                                            </p>

                                            <!-- uploading images and video -->
                                            <% const array_of_allowed_files=['png', 'jpeg' , 'jpg' ]; const
                                                array_of_allowed_videos=['mp4','gif']; %>
                                                <%if(tweets[i].retweet_media){%>
                                                    <% const
                                                        file_extension=tweets[i].retweet_media.slice(((tweets[i].retweet_media.lastIndexOf('.')
                                                        - 1)>>> 0) + 2); %>
                                                        <%if(array_of_allowed_files.includes(file_extension)){%>
                                                            <img src="<%=tweets[i].retweet_media%>" alt="img"
                                                                class="retweetImg" />
                                                            <%}else{%>
                                                                <video src="<%=tweets[i].retweet_media%>" width="300px"
                                                                 controls></video>
                                                                <%}}%>
                                        </div>


                                        <%}else{%>
                                            <div class="repost__headerDescription">
                                                <!-- if media found -->
                                                <!-- uploading images and video -->
                                                <% const array_of_allowed_files=['png', 'jpeg' , 'jpg' ]; const
                                                    array_of_allowed_videos=['mp4','gif']; %>
                                                    <%if(tweets[i].retweet_media){%>
                                                        <% const
                                                            file_extension=tweets[i].retweet_media.slice(((tweets[i].retweet_media.lastIndexOf('.')
                                                            - 1)>>> 0) + 2); %>
                                                            <%if(array_of_allowed_files.includes(file_extension)){%>
                                                                <img src="<%=tweets[i].retweet_media%>" alt="img"
                                                                    class="retweetImg" />
                                                                <%}else{%>
                                                                    <video src="<%=tweets[i].retweet_media%>"
                                                                        width="300px" controls></video>
                                                                    <%}}%>
                                            </div>


                                            <%}%>
                                                <!-- original tweet -->
                                                <div class="tweets retweet_tweet">
                                                    <div class="post">
                                                        <div class="post__avatar">
                                                            <img src="<%=tweets[i].profile_pic%>" alt="img"
                                                                class="post__avatar1" />
                                                            <div class="post__header">
                                                                <div class="post__headerText">
                                                                    <h3>
                                                                        <%=tweets[i].username%>
                                                                            <span class="post__headerSpecial"><span
                                                                                    class="material-icons post__badge">
                                                                                    <!-- </span>@<%=selectData[0].email%></span> -->
                                                                    </h3>
                                                                </div>
                                                                <div class="post__headerDescription">
                                                                    <p>
                                                                        <%=tweets[i].tweet_text%>
                                                                    </p>
                                                                    <!-- uploading images and video -->
                                                                    <% const array_of_allowed_files=['png', 'jpeg'
                                                                        , 'jpg' ]; const
                                                                        array_of_allowed_videos=['mp4','gif']; %>
                                                                        <%if(tweets[i].media){%>
                                                                            <% const
                                                                                file_extension=tweets[i].media.slice(((tweets[i].media.lastIndexOf('.')
                                                                                - 1)>>> 0) + 2); %>
                                                                                <%if(array_of_allowed_files.includes(file_extension)){%>
                                                                                    <img src="<%=tweets[i].media%>"
                                                                                        class="tweetImg" />
                                                                                    <%}else{%>
                                                                                        <video
                                                                                            src="<%=tweets[i].media%>"
                                                                                            width="300px"
                                                                                            controls></video>
                                                                                        <%}}%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="post__body">


                                                            <!-- <div>
                                                <form action="/tweets/<%= tweets[i].id %>/like" method="POST">
                                                    <button type="submit">Like</button>
                                                  </form>
                                                  <p><strong>Likes:</strong> <%= tweets[i].likes %></p>
                                            </div> -->


                                                        </div>
                                                    </div>
                                                </div>

                                </div>
                                <hr>


                                <!-- Simple tweet -->



                                <%}else{%>

                                    <div class="tweets tweets1">
                                        <div class="post post1">
                                            <div class="post__avatar">
                                                <img src="<%=tweets[i].profile_pic%>" alt="img" class="post__avatar1" />
                                                <div class="post__header">
                                                    <div class="post__headerText">
                                                        <h3>
                                                            <%=tweets[i].username%>
                                                                <span class="post__headerSpecial"><span
                                                                        class="material-icons post__badge">
                                                                        <!-- </span>@<%=selectData[0].email%></span> -->
                                                        </h3>
                                                    </div>
                                                    <div class="post__headerDescription">
                                                        <p>
                                                            <%=tweets[i].tweet_text%>
                                                        </p>
                                                        <!-- uploading images and video -->
                                                        <% const array_of_allowed_files=['png', 'jpeg' , 'jpg' ]; const
                                                            array_of_allowed_videos=['mp4','gif']; %>
                                                            <%if(tweets[i].media){%>
                                                                <% const
                                                                    file_extension=tweets[i].media.slice(((tweets[i].media.lastIndexOf('.')
                                                                    - 1)>>> 0) + 2); %>
                                                                    <%if(array_of_allowed_files.includes(file_extension)){%>
                                                                        <img src="<%=tweets[i].media%>"
                                                                            class="tweetImg" />
                                                                        <%}else{%>
                                                                            <video src="<%=tweets[i].media%>"
                                                                                width="300px" controls
                                                                                class="tweetvideo"></video>
                                                                            <%}}%>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post__body">


                                                <!-- <div>
                                                        <form action="/tweets/<%= tweets[i].id %>/like" method="POST">
                                                            <button type="submit">Like</button>
                                                          </form>
                                                          <p><strong>Likes:</strong> <%= tweets[i].likes %></p>
                                                    </div> -->

                                                <div class="post-footer">
                                                    <div class="btn-container">
                                                        <input type="hidden" value="<%=tweets[i].id%>" name="tweetid">
                                                        <div class="twt-toggle"
                                                            onclick="comment('<%=tweets[i].id%>','<%=tweets[i].user_id%>')">
                                                            <i class="fa-regular fa-comment"></i>
                                                            comments
                                                        </div>
                                                        <%for (let j=0;j<tweets.length;j++){%>

                                                            <%for (let k=0;k<likes.length;k++){%>


                                                                <%if(tweets[j].id==likes[k].pid &&
                                                                    tokenData.id==likes[k].uid && likes[k].liked==1){%>

                                                                    <%flag[j]=1%>

                                                                        <%}%>
                                                                            <%if(tweets[j].id==likes[k].pid &&
                                                                                tokenData.id==likes[k].uid &&
                                                                                likes[k].liked==0){%>

                                                                                <%flag[j]=0%>

                                                                                    <%}%>

                                                                                        <%}%>
                                                                                            <%}%>
                                                                                                <%if(flag[i]==1){%>

                                                                                                    <div
                                                                                                        class="twt-toggle-like-blue">
                                                                                                        <i class="fa-solid fa-heart"
                                                                                                            id="twt-tg<%=tweets[i].id%>"
                                                                                                            onclick="like('<%=tweets[i].id%>','<%=tweets[i].user_id%>')"></i>

                                                                                                        <span
                                                                                                            id="twt<%=tweets[i].id%>">
                                                                                                            <%=tweets[i].likes%>
                                                                                                        </span>

                                                                                                    </div>

                                                                                                    <%}else
                                                                                                        if(flag[i]==0){%>

                                                                                                        <div
                                                                                                            class="twt-toggle-like-black">
                                                                                                            <i class="fa-solid fa-heart"
                                                                                                                id="twt-tg<%=tweets[i].id%>"
                                                                                                                onclick="like('<%=tweets[i].id%>','<%=tweets[i].user_id%>')"></i>
                                                                                                            <span
                                                                                                                id="twt<%=tweets[i].id%>">
                                                                                                                <%=tweets[i].likes%>
                                                                                                            </span>

                                                                                                        </div>

                                                                                                        <%}else{%>

                                                                                                            <div
                                                                                                                class="twt-toggle-like-black">
                                                                                                                <i class="fa-solid fa-heart"
                                                                                                                    id="twt-tg<%=tweets[i].id%>"
                                                                                                                    onclick="like('<%=tweets[i].id%>','<%=tweets[i].user_id%>')"></i>
                                                                                                                <span
                                                                                                                    id="twt<%=tweets[i].id%>">
                                                                                                                    <%=tweets[i].likes%>
                                                                                                                </span>

                                                                                                            </div>
                                                                                                            <%}%>
                                                                                                                <%if(flag_rewteet[i]==0){%>
                                                                                                                    <div
                                                                                                                        class="twt-toggle-retwt-black">
                                                                                                                        <a id="retweet_icon<%=tweets[i].id%>"
                                                                                                                            onclick="increment_count('<%= tweets[i].id %>')">
                                                                                                                            <i
                                                                                                                                class="fa-solid fa-retweet"></i></a>
                                                                                                                        <div class="retweet_selector"
                                                                                                                            id="retweet_selector<%=tweets[i].id%>">
                                                                                                                        </div>
                                                                                                                        <span
                                                                                                                            id="retwt<%=tweets[i].id%>">
                                                                                                                            <%=count[i]%>
                                                                                                                        </span>
                                                                                                                    </div>
                                                                                                                    <%}else{%>
                                                                                                                        <div
                                                                                                                            class="twt-toggle-retwt-blue">
                                                                                                                            <a id="retweet_icon<%=tweets[i].id%>"
                                                                                                                                onclick="increment_count('<%= tweets[i].id %>')">
                                                                                                                                <i
                                                                                                                                    class="fa-solid fa-retweet"></i>
                                                                                                                            </a>
                                                                                                                            <div class="retweet_selector"
                                                                                                                                id="retweet_selector<%=tweets[i].id%>">
                                                                                                                            </div>
                                                                                                                            <span
                                                                                                                                id="retwt<%=tweets[i].id%>">
                                                                                                                                <%=count[i]%>
                                                                                                                            </span>
                                                                                                                        </div>

                                                                                                                        <%}%>
                                                    </div>
                                                    <div id="commentsection<%=tweets[i].id%>" class="commentsection">

                                                    </div>

                                                    <div id="comment<%=tweets[i].id%>" class="comment">

                                                        <input type="text" name="commentfield"
                                                            id="commentfield<%=tweets[i].id%>"
                                                            placeholder="Please Enter Comment" class="commentfield">
                                                        <input type="submit" value="Reply" class="commentbtn" id="reply"
                                                            onclick="commentdata('<%=tweets[i].id%>','<%=selectData[0].id%>','<%=selectData[0].username%>','<%=selectData[0].profile_pic%>')">


                                                    </div>



                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <%}%>
                                        <%}%>
                                            <%}%>
                                                <!-- post ends -->
                </div>



            </div>
            <!-- ********************Search and Suggestion Section************ -->
            <div class="searchsection">
                <div class="searchsection1">

                    <div class="searchbar">
                        <span>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input type="text" name="search" id="search" placeholder="Search Here"
                            onclick="hidesearch()">
                    </div>

                    <div id="searchresult">
                    </div>
                    <div id="searchprofilebar">
                        <h2>You might like</h2>
                        <%for(i=0;i<user_data.length;i++){%>
                            <div class="searchprofile">
                                <div class="profileimg">
                                    <img src="<%=user_data[i].profile_pic%>" alt="">
                                </div>
                                <div class="profileinfo">
                                    <div class="name" onclick="search_profile('<%=user_data[i].id%>')">
                                        <span>
                                            <%=user_data[i].username%>
                                        </span>
                                    </div>
                                    <div class="username" onclick="search_profile('<%=user_data[i].id%>')">
                                        <span>
                                            <%=user_data[i].email%>
                                        </span>
                                    </div>
                                </div>
                                <div class="followbtn">
                                    <p id="follow<%=user_data[i].id%>"
                                        onclick="following(`<%=user_data[i].id%>`,`<%=user_data[i].profile_pic%>`,`<%=user_data[i].email%>`,`<%=user_data[i].username%>`)">
                                        Follow</p>
                                </div>
                            </div>



                            <%}%>
                    </div>

                </div>
            </div>
        </div>
        <script>
            const previewImage = (event) => {
                /**
                * Get the selected files.
                */
                const imageFiles = event.target.files;
                /**
                * Count the number of files selected.
                */
                const imageFilesLength = imageFiles.length;
                /**
                * If at least one image is selected, then proceed to display the preview.
                */
                if (imageFilesLength > 0) {
                    /**
                    * Get the image path.
                    */
                    const imageSrc = URL.createObjectURL(imageFiles[0]);
                    /**
                    * Select the image preview element.
                    */
                    const imagePreviewElement = document.querySelector("#preview");
                    /**
                    * Assign the path to the image preview element.
                    */
                    imagePreviewElement.src = imageSrc;
                    /**
                    * Show the element by changing the display value to "block".
                    */
                    imagePreviewElement.style.display = "block";
                }
            };

            function retweeticon() {
                if (document.getElementById('retweeticon').style.display = "none") {
                    document.getElementById('retweeticon').style.display = "block"
                }
                else {
                    document.getElementById('retweeticon').style.display = "none"
                }
            }

            function tweet() {
                var tweetsec = document.getElementById('tweetformcontent').value;
                var file_input = document.getElementById('file_input').value;
                
                console.log('********************', file_input);
                if (tweetsec.trim() == '' && file_input == "") {
                    console.log("harsh")
                    document.getElementById('tweetsubmit1').disable;
                    document.getElementById('tweeterror').innerHTML = "*Please enter some text or media"
                    return false
                }
                if (tweetsec.length >= 100) {
                    document.getElementById('tweetsubmit1').disable;
                    document.getElementById('tweeterror').innerHTML = "*Please enter text of length less than 100";
                    return false
                }

                var file_input1 = document.getElementById('file_input');
                var img_size=Math.round(file_input1.files[0].size/1048576);
                if(img_size>2){
                    console.log("size");
                    document.getElementById('tweetsubmit1').disable;
                    document.getElementById('tweeterror').innerHTML = "*Please upload image of size less than 2MB";
                    return false

                }
            }

            function more() {
                var more = document.getElementById("more_options");
                // console.log("i m by default none");
                if (more.style.display == "none") {
                    // console.log("in none");
                    more.style.display = "block"
                } else {
                    // console.log("in block");
                    more.style.display = "none"

                }

            }



            //*********************************like function
            function like(pid, uid) {
                // alert("like")
                // console.log('pid', pid)
                // console.log('uid', uid)

                fetch("/like", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ pid, uid }),
                }).then((res) => {
                    return res.json()
                }).then((result) => {
                    // console.log(result[0])
                    // console.log(result[0].likes)

                    if (!result[1]) {
                        if (result[0].likes == 0) {
                            document.getElementById('twt-tg' + pid).style.color = "black";
                        }
                        else {
                            document.getElementById('twt-tg' + pid).style.color = "#1DA1F2";
                        }
                        document.getElementById('twt' + pid).innerHTML = result[0].likes;
                    }
                    else {
                        if (result[1].likes == 0) {
                            document.getElementById('twt-tg' + pid).style.color = "black";
                        }
                        else {
                            document.getElementById('twt-tg' + pid).style.color = "#1DA1F2";
                        }
                        document.getElementById('twt' + pid).innerHTML = result[0].likes;
                    }

                })
            }

            var timer=0;
            document.getElementById('search').addEventListener("keyup",async(e)=>{
                document.getElementById('searchresult').innerHTML='Loading...'
                if(e.target.value==''){
                    return;
                }
                clearTimeout(timer)
                timer=setTimeout(()=> search(e.target.value.trim()),1000);
            })
            async function search(search) {
                
                var s = "";

                if(search.length==''){
                    document.getElementById('searchresult').innerHTML = '';
                }
                else{
                    await fetch(`/search?search=${search}`)
                    .then(res => res.json())
                    .then((search_data) => {
                        // console.log(':::::::::::::::::::::::::::data at',search_data)
                        
                        for (i = 0; i < search_data.length; i++) {
                            // console.log("at", i, '', search_data[i].id)
                            s += `
                        <div class="searchprofile" onclick="search_profile('${search_data[i].id}')">
                            <div class="profileimg">
                                <img src="`+ search_data[i].profile_pic + `" alt="">
                            </div>
                            <div class="profileinfo">
                                <div class="name">
                                    <span>`+
                                search_data[i].username +
                                `</span>
                                </div>
                                <div class="username">
                                    <span>`+
                                search_data[i].email +
                                `</span>
                                </div>
                            </div>

                        </div> `;

                        }
                        document.getElementById('searchresult').innerHTML = s;

                    })

                }

                
            }


            function profile() {
                location.assign(`/profile`);
            }


            function following(id, profile_pic, email, username) {

                // console.log("follow func")

                var listed = document.getElementById(`follow${id}`);

                if (listed.innerText == "Follow") {

                    // console.log("meeeeeeeeeeeeeeeeeee",`${id}`)
                    var s = "";
                    fetch(`/search_follow?id=${id}`)
                        .then(res => res.json())
                        .then((resultdata) => {
                            // console.log("**--------------", resultdata.length)
                            if (resultdata.length !== 0) {


                                swal({
                                    title: "Already Following",
                                    icon: "warning",
                                    buttons: ["OK"],

                                })
                                s += `al-Following`
                                listed.innerHTML = s;
                                // console.log("not nulllllllll")


                            }

                            else {



                                fetch(`/postfollow?id=${id}&profile_pic=${profile_pic}&f_email=${email}&username=${username}`)

                                    .then(res => res.json())
                                    .then((resultdata) => {
                                        // console.log("resultdata")

                                        var counted = resultdata.length;
                                        //  console.log(resultdata.length)

                                        s += `Following`
                                        listed.innerHTML = s;
                                    })



                            }

                        })



                }
                else {
                    swal({
                        title: "Are you sure?",
                        text: "Once Unfollowed, you will not be able to see the content of this account!",
                        icon: "warning",
                        buttons: ["Cancel", "Unfollow"],

                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                swal("Poof! This account has been Unfollowed!", {
                                    icon: "success",
                                });
                                // console.log("follow func")
                                // console.log(`${id}`)
                                // console.log("hiii", id, profile_pic, email, username)

                                var listed = document.getElementById(`follow${id}`);
                                // var followcount = document.getElementById("followcount");
                                var s = "";
                                fetch(`/post_Unfollow?id=${id}&profile_pic=${profile_pic}&f_email=${email}&username=${username}`)

                                    .then(res => res.json())
                                    .then((resultdata) => {
                                        // console.log("resultdata")

                                        var counted = resultdata.length;
                                        //  console.log(resultdata.length)

                                        s += `Follow`
                                        listed.innerHTML = s;
                                    });
                            } else {
                                swal("You are following this account !");
                            }
                        });




                }

                // console.log()
                // var followcount = document.getElementById("followcount");


            }

            // Emojis Section

            document.querySelector('emoji-picker')
                .addEventListener('emoji-click', event => console.log(event.detail));

            document.querySelector('emoji-picker')
                .addEventListener('emoji-click', event => document.getElementById('tweetformcontent').value += event.detail.unicode);

            document.querySelector('emoji-picker').style.display = "none";


            // document.querySelector('tweet').style.display = "none";

            function abc() {
                // console.log("harsh")
                if (document.querySelector('emoji-picker').style.display == "none") {
                    document.querySelector('emoji-picker').style.display = "block";
                    document.querySelector('.tweet').style.display = "none";
                }
                else {
                    document.querySelector('emoji-picker').style.display = "none";
                    document.querySelector('.tweet').style.display = "block";
                }
            }


            // Comment post Section
            async function commentdata(pid, uid, username, profile) {

                var commentfield = document.getElementById('commentfield' + pid).value

                // console.log('pid', pid)
                // console.log('uid', uid)
                // console.log('username', username)
                // console.log('profile', profile)
                // console.log('profile', commentfield)
                
                if (commentfield.trim() == '' ||commentfield.length >= 100) {
                    document.getElementById('reply').disable;
                }
                
                else {

                    await fetch("/comment", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ pid, uid, username, profile, commentfield }),
                    }).then((res) => {
                        return res.json()
                    }).then((result) => {
                        // console.log(result)
                        location.assign('/home')
                    })
                }


            }


            // Comment get Section


            let classcomment = document.querySelectorAll(".comment");
            classcomment.forEach(e => {
                e.style.display = "none";

            })

            let commentsection = document.querySelectorAll(".commentsection");
            commentsection.forEach(e => {
                e.style.display = "none";

            })
            // classcomment.forEach()
            // console.log(classcomment)

            async function comment(pid, uid) {
                var commentsection = document.getElementById('commentsection' + pid);
                // commentsection.style.display = "none";
                var comment = document.getElementById("comment" + pid);
                //  comment.style.display = "none";

                // console.log(comment)
                // commentsection.innerHTML = "";
                commentstr = ''
                // console.log('pid', pid)
                // console.log('uid', uid)
                // console.log(commentsection)
                classcomment.forEach(i => {

                })
                if (commentsection.style.display == "none") {
                    commentsection.style.display = "block";
                    comment.style.display = "block";

                    await fetch("/comment_display", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ pid, uid }),
                    }).then((res) => {
                        return res.json()
                    }).then((result) => {
                        // console.log(result)
                        for (i = 0; i < result.length; i++) {
                            commentstr += `<div class="profile1">
                                   
                    <div class="profileimg1">
                        <img src="${result[i].profile_pic}" alt="">
                    </div>
                                        
                                        
                    <div class="profileinfo1">
                        <div class="name1">
                            <h3>
                                ${result[i].username}
                            </h3>
                        </div>
                        <div class="comment1">
                            <p>${result[i].comments}</p>
                        </div>
                    </div>
                </div>`


                        }
                        commentsection.innerHTML = commentstr;

                    })

                }
                else {
                    commentsection.style.display = "none";
                    comment.style.display = "none";
                }

            }






            async function increment_count(tweet_id) {


                var res = await fetch(`/retweet_cnt?tweet_id=${tweet_id}`); // Check if already retweeted
                var data = await res.json();
                var cnt_increment = data.status;

                if (cnt_increment == "True") {
                    var res = await fetch(`/retweet?tweet_id=${tweet_id}`);
                    var data = await res.json();
                    var cnt_increment = data.count;
                    document.getElementById("retweet_icon" + tweet_id).style.color = "black";
                    document.getElementById("retwt" + tweet_id).style.color = "black";
                    document.getElementById('retwt' + tweet_id).innerHTML = cnt_increment;

                    // do deletion

                }
                //if not retweeted 
                else {

                    var retweet_selector = document.getElementById("retweet_selector" + tweet_id);

                    retweet_selector.style.display = "block";
                    var html = `<p class="simple_retweet" onclick="retweet(this,${tweet_id})">Retweet</p><p class="quote_tweet" onclick="retweet(this,${tweet_id})">Quote Tweet</p>`;
                    retweet_selector.innerHTML = html;


                }

            }

            async function retweet(retweet_option, tweet_id) {

                document.getElementById("retweet_icon" + tweet_id).style.color = "#1DA1F2";
                document.getElementById("retwt" + tweet_id).style.color = "#1DA1F2";

                var retweet_selector = document.getElementById("retweet_selector" + tweet_id);
                retweet_selector.style.display = "none";

                // Simple retweet
                if (retweet_option.innerHTML == 'Retweet') {
                    var res = await fetch(`/retweet?tweet_id=${tweet_id}`);
                    var data = await res.json();
                    var cnt_increment = data.count;
                    document.getElementById('retwt' + tweet_id).innerHTML = cnt_increment;


                }

                // Quote tweet
                else {

                    var content_picker = document.getElementById("content");
                    var html = ` <h1>Home</h1><form action="/quote_tweet?tweet_id=${tweet_id}" method="post" enctype="multipart/form-data" onsubmit="return tweet()">
 <div class="tweetform"> <img src="<%=selectData[0].profile_pic%>" alt="">  <input type="text" name="tweet_text" id="tweetformcontent" placeholder="Add a comment..">
 </div>
 <p id="tweeterror"></p>
 <img id="preview">
 <div class="tweetsubmit">

    <div class="icgg">
        <label for="file_input">
            <i class="fa-regular fa-image "></i>
        </label>
        <input type="file" id="file_input" name="media" onchange="previewImage(event)">

                    
    </div>
         

     <!-- <i class="fa-regular fa-image "><input type="file" name="file"></i> -->
     <input type="submit" value="ReTweet" class="tweet" id="tweetsubmit1">
 </div>
</form></div>`;
                    content_picker.innerHTML = html;


                }

            }

            function search_profile(sid) {
                var sid = sid;
                location.assign(`/search_profile?sid='${sid}'`);
            }

        // document.getElementById('searchresult').style.display="block";
        // document.getElementById('searchprofilebar').style.display="block";
        // function hidesearch(){
        //     document.getElementById('searchresult').style.display="block";
        //     document.getElementById('searchprofilebar').style.display="none";

        // }

        // <div id="searchresult">
        //         </div>
        //         <div id="searchprofilebar">


        </script>

</body>

</html>