<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="/profile.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container">
        <div class="screen">

            <!-- *********************Navigation Bar********************** -->

            <div class="navigationbar">
                <!-- ************logo******************** -->
                <div class="logo">
                    <i class="fa-brands fa-twitter fa-3x"></i>
                </div>
                <!-- ************navigation******************** -->

                <div class="navigation">




                    <div class="navrow home" onclick="home()">
                        <i class="fa-solid fa-house fa-2x"></i>
                        <span>Home</span>
                    </div>

                    <div class="navrow explore">
                        <i class="fa-solid fa-hashtag fa-2x"></i>
                        <span>More</span>
                    </div>





                    <div class="navrow profile" onmousemove="tweet();">
                        <i class="fa-regular fa-user fa-2x"></i>
                        <span>Profile</span>
                    </div>

                    <!-- <div class="navrow">
                        <a href="" class="tweetbtn">
                            <p>Tweet</p>
                        </a>
                    </div> -->

                </div>




                <!-- ************profile******************** -->

                <div class="profile">
                    <div class="profileimg">
                        <img src="<%=selectData[0].profile_pic%>" alt="">
                    </div>
                    <div class="profileinfo">
                        <div class="name">
                            <span>
                                <%=selectData[0].username%>
                            </span>
                        </div>
                        <div class="username">
                            <span>
                                <%=selectData[0].email%>
                            </span>
                        </div>
                    </div>
                    <div class="more">
                        <img src="/images/more.png" alt="">
                    </div>
                </div>

            </div>

            <!-- *********************Content Section********************** -->
            <div class="contentsection">

                <!-- ......................................name and no. of tweets portion.................. -->
                <div class="headerinfo">

                    <div class="render" onclick="back()">

                        <i class="fa-solid fa-arrow-left"></i>
                    </div>

                    <div class="name_tweet">
                        <span class="name_user">
                            <%=selectData[0].username%>
                        </span>
                        <span>1 Tweets</span>
                    </div>

                </div>
                <!-- ...............................................Back img portion without any img............................... -->
                <div class="back_blank_space">
                </div>

                <!-- ...............................................Profile pic and edit profile btn main div......................... -->
                <div class="profile_pic_edit_btn">
                    <!-- ................................Profile pic...................... -->
                    <div class="profile_pic">
                        <img src="<%=selectData[0].profile_pic%>" alt="Name">

                    </div>

                    <!-- .......................................Edit profile btn................... -->

                    <div class="edit_profile">
                        <a id="follow<%=selectData[0].id%>"
                            onclick="following(`<%=selectData[0].id%>`,`<%=selectData[0].profile_pic%>`,`<%=selectData[0].email%>`,`<%=selectData[0].username%>`)">
                            Follow</a>
                    </div>

                </div>

                <!--.............................................Content that display after profile pic main div..................... -->
                <div class="content_after_pic">
                    <!-- <p><strong>HarshPatel002</strong></p>
                    <p>@emailid</p>
                    <p><img src="/images/date_picker.png" width="15px" height="15px"> joined March 2023</p>
                     -->

                    <div class="name_email">

                        <span class="profile_name">
                            <%=selectData[0].username%>
                        </span>
                        <span class="profile_email">
                            <%=selectData[0].email%>
                        </span>
                    </div>

                    <div class="home_join_date">
                        <i class="fa-regular fa-calendar"></i>
                        <span>Joined March 2023</span>

                    </div>

                    <div class="follows">
                        <p onclick="newfollow()"><strong>
                                <%=followdata[0].follow%>
                            </strong> Following</p>
                        <p onclick="newfollow()"><strong>
                                <%=followerdata[0].follower%>
                            </strong> Followers</p>

                    </div>

                </div>

                <!-- .........................................Tweet and Media portion.................. -->

                <!-- .................................tweet media main div......................... -->
                <div class="tweet_media">
                    <!-- ................................Tweet..................... -->
                    <div class="tweet">
                        <p>Tweets</p>

                    </div>
                    <!-- .....................................media....................... -->
                    <div class="media">
                        <p>Media</p>

                    </div>
                </div>

            </div>


        </div>

    </div>


    <script>

        function home() {
            location.assign(`/home`);
        }

        function profile() {
            location.assign(`/profile`);
        }
        function following(id, profile_pic, email, username) {
          
          console.log("follow func")
          console.log(`${id}`)
          console.log("hiii", id, profile_pic, email, username)
          var listed = document.getElementById(`follow${id}`);
          
          if (listed.innerText == "Follow"){
              // console.log("hiiiiiii")
              var s = "";
          fetch(`/postfollow?id=${id}&profile_pic=${profile_pic}&f_email=${email}&username=${username}`)

              .then(res => res.json())
              .then((resultdata) => {
                  console.log("resultdata")

                  var counted = resultdata.length;
                  //  console.log(resultdata.length)

                  s += `Following`
                  listed.innerHTML = s;
              })
          }
          else{
              swal({
                      title: "Are you sure?",
                      text: "Once Unfollowed, you will not be able to see the content of this account!",
                      icon: "warning",
                      buttons: ["Cancel", "Unfollow"],

                  })
                      .then((willDelete) => {
                          if (willDelete) {
                              swal("Poof! This account has been Unfollowed!", {
                                  icon: "success",
                              });
                              console.log("follow func")
                              console.log(`${id}`)
                              console.log("hiii", id, profile_pic, email, username)

                              var listed = document.getElementById(`follow${id}`);
                              // var followcount = document.getElementById("followcount");
                              var s = "";
                              fetch(`/post_Unfollow?id=${id}&profile_pic=${profile_pic}&f_email=${email}&username=${username}`)

                                  .then(res => res.json())
                                  .then((resultdata) => {
                                      console.log("resultdata")

                                      var counted = resultdata.length;
                                      //  console.log(resultdata.length)

                                      s += `Follow`
                                      listed.innerHTML = s;
                                  });
                          } else {
                              swal("You are following this account !");
                          }
                      });




          }
          
          // console.log()
          // var followcount = document.getElementById("followcount");
          

      }
        function back() {
            window.history.go(-1)
            //  console.log("back1");
        }
        //newfollow
        function newfollow() {
            location.assign(`/newfollow`);
        }

        //following list
        function follow(id) {
            // console.log('function call')

            // document.getElementById(`${id}`).style.backgroundColor = "yellow";
            var listed = document.getElementById("follower");
            // var followercount = document.getElementById("followercount");
            var s = "";
            console.log("hiii", id)
            fetch(`/searchfollow?id=${id}`)
                .then((res) => { return res.json() })
                .then((resultdata, frdata) => {
                    //console.log("follower")
                    console.log('..................................................', resultdata.length, frdata.length)

                    // var counted = resultdata.length;
                    // followercount.innerHTML = counted;

                    // listing of followers

                    // for (var x = 0; x < resultdata.length; x++) {

                    //     s += `<div class="contentsection">
                    //             <div class="profile">
                    //                 <div class="profileimg">
                    //                     <img src="${resultdata[x].f_profile_pic}" alt="">
                    //                 </div>
                    //                 <div class="profileinfo">
                    //                     <div class="email">
                    //                         <span>${resultdata[x].f_email}</span>
                    //                     </div>
                    //                     <div class="username">
                    //                         <span>${resultdata[x].f_username}</span>
                    //                     </div>
                    //                     <div class="followbtn">
                    //                         <p id="follow${resultdata[x].f_id}" onclick="Unfollow('${resultdata[x].f_id}',
                    //                         '${resultdata[x].f_profile_pic}',
                    //                         '${resultdata[x].f_email}','${resultdata[x].f_username}')">Following</p>
                    //                     </div>
                    //                 </div>

                    //             </div>
                    //             </div>`


                    // }
                    s += `Following`

                    listed.innerHTML = s;
                    // console.log(s)                 
                })


        }


        //followers list
        function follower(id) {

            console.log('function call')

            // document.getElementById(`${id}`).style.backgroundColor = "yellow";
            var listed = document.getElementById("follower");
            // var followercount = document.getElementById("followercount");
            var s = "";
            console.log("heyyy", id)
            fetch(`/postfollower?id=${id}`)
                .then((res) => { return res.json() })
                .then((resultdata) => {
                    //console.log("follower")
                    console.log(resultdata.length)

                    var counted = resultdata.length;
                    // followercount.innerHTML = counted;

                    //listing of followers

                    for (var x = 0; x < resultdata.length; x++) {

                        s +=

                            ` <div id=div'${resultdata[x].user_id}' class="profile">
                                    <div class="profileimg">
                                        <img src="${resultdata[x].u_profile_pic}" alt="">
                                    </div>
                                    <div class="profileinfo">
                                        <div class="email">
                                            <span>${resultdata[x].u_email}</span>
                                        </div>
                                        <div class="username">
                                            <span>${resultdata[x].username}</span>
                                        </div>
                                        <div class="followbtn">
                                            <p id="follow${resultdata[x].user_id}" onclick="rmfollower('${resultdata[x].user_id}',
                                            '${resultdata[x].u_profile_pic}',
                                            '${resultdata[x].u_email}','${resultdata[x].username}')">Follower</p>
                                        </div>
                                    </div>
                                    
                                </div>`

                    }

                    listed.innerHTML = s;
                    // console.log(s)                 
                })


        }

        function Unfollow(id, profile_pic, email, username) {

            swal({
                title: "Are you sure?",
                text: "Once Unfollowed, you will not be able to see the content of this account!",
                icon: "warning",
                buttons: ["Cancel", "Unfollow"],

            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! This account has been Unfollowed!", {
                            icon: "success",
                        });
                        console.log("follow func")
                        console.log(`${id}`)
                        console.log("hiii", id, profile_pic, email, username)

                        var listed = document.getElementById(`follow${id}`);
                        // var followcount = document.getElementById("followcount");
                        var s = "";
                        fetch(`/post-Unfollow?id=${id}&profile_pic=${profile_pic}&f_email=${email}&username=${username}`)

                            .then(res => res.json())
                            .then((resultdata) => {
                                console.log("resultdata")

                                var counted = resultdata.length;
                                //  console.log(resultdata.length)

                                s += `Follow`
                                listed.innerHTML = s;
                            });
                    } else {
                        swal("You are following this account !");
                    }
                });




        }
        function rmfollower(id, profile_pic, email, username) {

            swal({
                title: "Are you sure?",
                text: "Once Removed, They will not be able to see the content of Your account!",
                icon: "warning",
                buttons: ["Cancel", "Remove"],

            })
                .then((willDelete) => {

                    if (willDelete) {

                        console.log("follow func")
                        console.log(`${id}`)
                        console.log("hiii", id, profile_pic, email, username)
                        var listed = document.getElementById(`follow${id}`);
                        // var followcount = document.getElementById("followcount");
                        var s = "";
                        fetch(`/post-rm-follower?id=${id}&profile_pic=${profile_pic}&f_email=${email}&username=${username}`)

                            .then(res => res.json())
                            .then((resultdata) => {
                                console.log("resultdata")

                                var counted = resultdata.length;
                                //  console.log(resultdata.length)

                                s += `removed`
                                listed.innerHTML = s;
                            })
                    }

                    else {
                        text = "You canceled!";
                    }
                });

        }

    </script>

</body>

</html>